<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500'; type="text/css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='build-a-blog/style.css') }}">
    </head>
    <body>
        <title>{{title}}
        <h1>Build A Blog</h1>
        <h3>This is a blog building app using HTML, Jinga, SQL and Python</h3>
        </title>
            <div class="navigation">
                <p><label><a href="http://127.0.0.1:5000/newpost">New Blog</a></label><label for="New Blog"></label></p>
                <p><label><a href="http://127.0.0.1:5000/blog">Blogs Already Created</a></label><label for="Blogs Already Created"></label></p>
                <p><label><a href="http://127.0.0.1:5000/logout">Logout</a></label><label for="Logout"></label></p>
                <p><label><a href="http://127.0.0.1:5000/blog">Login</a></label><label for="Login"></label></p>
                <p><label><a href="http://127.0.0.1:5000/newpost">Home</a></label><label for="Home"></label></p>
            </div>
                

    </body>
        {% block content %}
            {% with messages= get_flashed_messages (with_catagories = True) %}

                <ul>
                    {% for category, message in messages %}
                    <li class="flash_messages">{{message}}</li>
                    {% endfor %}
                </ul>
            {% endwith %}   

        {% endblock  %}

    
    </body>
</html>