{% extends "base.html" %}

{% block content %}
    <main class="container">
        <div>
            <h4>{{ user.username }}</h4>

                <ul>
                    {% for blog in blogs %}
                        <li>
                            <p><a href="{{ url_for('blog', id=blog.id) }}">{{ blog.name }}</a></p>
                            <ul>
                                <li class="blog-post-content">{{ blog.post }}</li>
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            

        </div>
    </main>
{% endblock %}